h1{
	color: #faebeb;
	font-size: 50px;
	font-weight: 600;
}
h2{
	color: #ffffff;
	font-weight: 400;
}

.form-control{
	border: none !important;
	 border-color: transparent;
  border-bottom: 1px solid #0069D9 !important;
  margin-top: 20px;
}
.signinmain{
      height: 90vh;
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.6)
    ),
    url("../../assets//img/office-625892_1920.jpg");
  background-size: cover;
  background-position: top;
  position: relative;  
 
	display: flex;
	align-items: center;
	
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content:space-between;
	
}

form{
	padding-top: 10px;
	font-size: 14px;
	
}
.txt{
	padding-left: 8px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}

.card{
    border: none;
}

.login-form{ 
	width:330px;
    margin:20px;
  
    
}

.txt {
  padding-top: 4px;
 
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}
	.mobileh{
		display: block;
	}

@media (max-width:600px) {
	.mobileh{
		display: none;
	}
}