<div class="card-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/code-solid.svg" />
                            <h5 class="card-title">Developer</h5>
                            <h6 class="card-subtitle mb-2 text-muted">10 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/calculator-solid.svg" />
                            <h5 class="card-title">Accounting</h5>
                            <h6 class="card-subtitle mb-2 text-muted">6 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/calculator-solid.svg" />
                            <h5 class="card-title">Technology</h5>
                            <h6 class="card-subtitle mb-2 text-muted">12 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/briefcase-medical-solid.svg" />
                            <h5 class="card-title">Madica</h5>
                            <h6 class="card-subtitle mb-2 text-muted">12 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/university-solid.svg" />
                            <h5 class="card-title">Government</h5>
                            <h6 class="card-subtitle mb-2 text-muted">1 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/sticky-note-regular.svg" />
                            <h5 class="card-title">Media & News</h5>
                            <h6 class="card-subtitle mb-2 text-muted">4 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/utensils-solid.svg" />
                            <h5 class="card-title">Restaurants</h5>
                            <h6 class="card-subtitle mb-2 text-muted">9 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-sm-6">
                <a routerLink="/job">
                    <div class="card">
                        <div class="card-body">
                            <img class="icon" src="../../../assets/icons/graduation-cap-solid.svg" />
                            <h5 class="card-title">Education</h5>
                            <h6 class="card-subtitle mb-2 text-muted">12 Jobs</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>