<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Senior Health and Food</h4>
            <p class="card-text">Pay Walt</p>
            <p class="card-text font-weight-bold">&#36; 20-30</p>
            <p class="card-text">Grand Central Pkwy Hollis NY 11003 USA</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">iOS Developer – iOS, Git, API</h4>
            <p class="card-text">Apus Inc.</p>
            <p class="card-text font-weight-bold">&#36; 24-32</p>
            <p class="card-text">1000-1198 Apono Pl Hilo, HI 96720</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Front-End Web Developer</h4>
            <p class="card-text">Envato Inc.</p>
            <p class="card-text font-weight-bold">&#36; 30-35</p>
            <p class="card-text">Old Government Rd Keaau HI 96720 Hawaii</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Senior Health and Food</h4>
            <p class="card-text">Pay Walt</p>
            <p class="card-text font-weight-bold">&#36; 20-30</p>
            <p class="card-text">Grand Central Pkwy Hollis NY 11003 USA</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Senior Health and Food</h4>
            <p class="card-text">Pay Walt</p>
            <p class="card-text font-weight-bold">&#36; 20-30</p>
            <p class="card-text">Grand Central Pkwy Hollis NY 11003 USA</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>
<div class="card">
    <div class="card-horizontal">
        <div class="img-square-wrapper">
            <img class="cover-img" src="../../../assets/img/health.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
            <h4 class="card-title">Senior Health and Food</h4>
            <p class="card-text">Pay Walt</p>
            <p class="card-text font-weight-bold">&#36; 20-30</p>
            <p class="card-text">Grand Central Pkwy Hollis NY 11003 USA</p>

        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        <a href="#" class="btn btn-primary" style="float:right;font-size:12px;">Apply</a>

    </div>
</div>