<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">


        <a class="navbar-brand" href="#"> <img style="height: 60px;" src="../../../assets/img/inflogo.png" /> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['home']" routerLinkActive="router-link-active">Jobseeker </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Recruiter</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['job']" routerLinkActive="router-link-active">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['career']" routerLinkActive="router-link-active">Career
                        Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['signin']" routerLinkActive="router-link-active">Sign in/up</a>

                </li>


            </ul>
        </div>
    </div>
</nav>