<div class="container-fluid footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h4>Address</h4>
                <p class="address">Off, ITPL Main Rd, Pattandur Agrahara,<br /> Whitefield, Bengaluru,<br /> Karnataka
                    560066</p>
            </div>

            <div class="col-lg-3 col-sm-6">
                <!-- <h5>Social</h5> -->
            </div>
            <div class="col-lg-3 col-sm-6">
                <h4> Links</h4>
                <ul class="links" style="list-style-type:none;">
                    <li><a routerLink="/home">Jobseeker</a></li>
                    <li><a routerLink="/job">Jobs</a></li>
                    <li><a routerLink="/career">Career Support</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>