<div class="header">
    <h1 class="page-heading">
        <span class="page-heading-primary">Let's start your job</span>
        <span class="page-heading-secondary">Your future awaits!</span>
    </h1>
</div>
<div class="text-center title">
    <h3>POPULAR CATEGORIES</h3>
</div>


<div>
    <app-jobtype></app-jobtype>
</div>
<div class="container">
    <div class="title-2">
        <h4>RECENT JOBS</h4>
    </div>

    <div class="row">
        <div class="col-lg-8 mb-4">
            <app-recentjob></app-recentjob>
        </div>
    </div>


</div>